USE [master]
GO
/****** Object:  Database [films]    Script Date: 26.02.2023 15:34:43 ******/
CREATE DATABASE [films]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'films', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\films.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'films_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\films_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [films].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [films]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 26.02.2023 15:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[film]    Script Date: 26.02.2023 15:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[film](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[film] [nvarchar](100) NULL,
	[Year] [int] NULL,
	[CountryCode] [int] NULL,
	[GenreCode] [int] NULL,
 CONSTRAINT [PK_film] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 26.02.2023 15:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hole]    Script Date: 26.02.2023 15:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hole](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Hole] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 26.02.2023 15:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[HoleCode] [int] NULL,
	[FilmCode] [int] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Code], [Name]) VALUES (1, N'Russia')
INSERT [dbo].[Country] ([Code], [Name]) VALUES (2, N'Korea')
INSERT [dbo].[Country] ([Code], [Name]) VALUES (3, N'France')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[film] ON 

INSERT [dbo].[film] ([id], [film], [Year], [CountryCode], [GenreCode]) VALUES (5, N'Cheburaska', 2023, 1, 5)
INSERT [dbo].[film] ([id], [film], [Year], [CountryCode], [GenreCode]) VALUES (6, N'Goegimaensyon', 2021, 2, 4)
INSERT [dbo].[film] ([id], [film], [Year], [CountryCode], [GenreCode]) VALUES (7, N'Belle et Sébastien', 2022, 3, 5)
SET IDENTITY_INSERT [dbo].[film] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Code], [Name]) VALUES (1, N'Action')
INSERT [dbo].[Genre] ([Code], [Name]) VALUES (2, N'Dramatic')
INSERT [dbo].[Genre] ([Code], [Name]) VALUES (3, N'Comedy')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Hole] ON 

INSERT [dbo].[Hole] ([Code], [Name]) VALUES (1, N'IMAX')
INSERT [dbo].[Hole] ([Code], [Name]) VALUES (2, N'Dolby Atmos')
INSERT [dbo].[Hole] ([Code], [Name]) VALUES (3, N'3D')
SET IDENTITY_INSERT [dbo].[Hole] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([id], [date], [time], [HoleCode], [FilmCode]) VALUES (1, CAST(N'2023-02-26' AS Date), CAST(N'12:00:00' AS Time), 1, 5)
INSERT [dbo].[Session] ([id], [date], [time], [HoleCode], [FilmCode]) VALUES (2, CAST(N'2023-02-28' AS Date), CAST(N'13:00:00' AS Time), 1, 6)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
ALTER TABLE [dbo].[film]  WITH CHECK ADD  CONSTRAINT [FK_film_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[film] CHECK CONSTRAINT [FK_film_Country]
GO
ALTER TABLE [dbo].[film]  WITH CHECK ADD  CONSTRAINT [FK_film_Genre] FOREIGN KEY([GenreCode])
REFERENCES [dbo].[Genre] ([Code])
GO
ALTER TABLE [dbo].[film] CHECK CONSTRAINT [FK_film_Genre]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_film] FOREIGN KEY([FilmCode])
REFERENCES [dbo].[film] ([id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_film]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Hole] FOREIGN KEY([HoleCode])
REFERENCES [dbo].[Hole] ([Code])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Hole]
GO
USE [master]
GO
